:root,
:root[color-theme="light"] {
  --header-background: #161616;
  --header-font-color: #f4f4f4;

  --body-background: #ffffff;
  --body-font-color: #161616;

  --button-background: #0f62fe;
  --button-border-color: #0f62fe;

  --link-color: #0f62fe;
  --link-color-visited: #8a3ffc;

  --code-background: #f4f4f4;
  --code-accent-color: #e3e7eb;
  --code-accent-color-lite: #eff1f3;
  --code-font-color: #161616;

  --code-copy-background: #f4f4f4;
  --code-copy-success-color: #42be65;

  --accent-color: #e9ecef;
  --accent-color-lite: #f8f9fa;

  --control-icons: #b2bac1;
  --control-icons: #161616;

  --footer-background: #161616;
  --footer-font-color: #f4f4f4;
  --footer-link-color: #a6c8ff;
  --footer-link-color-visited: #a6c8ff;

  --tag-background-virtual: #a7f0ba;
  --tag-color-virtual: #044317;
  --tag-background-processed: #dde1e6;
  --tag-color-processed: #343a3f;
  --tag-background-flag: #9ef0f0;
  --tag-color-flag: #004144;
  --tag-background-array: #ffd7d9;
  --tag-color-array: #750e13;
  --tag-background-alias: #e8daff;
  --tag-color-alias: #491d8b;
}
@media (prefers-color-scheme: light) {
  :root {
    --header-background: #161616;
    --header-font-color: #f4f4f4;

    --body-background: #ffffff;
    --body-font-color: #161616;

    --button-background: #0f62fe;
    --button-border-color: #0f62fe;

    --link-color: #0f62fe;
    --link-color-visited: #8a3ffc;

    --code-background: #f4f4f4;
    --code-font-color: #161616;

    --code-copy-background: #f4f4f4;
    --code-copy-font-color: #161616;
    --code-copy-border-color: #161616;
    --code-copy-success-color: #42be65;

    --accent-color: #e9ecef;
    --accent-color-lite: #f8f9fa;

    --control-icons: #b2bac1;
    --control-icons: #161616;

    --footer-background: #161616;
    --footer-font-color: #f4f4f4;
    --footer-link-color: #a6c8ff;
    --footer-link-color-visited: #a6c8ff;

    --tag-background-virtual: #a7f0ba;
    --tag-color-virtual: #044317;
    --tag-background-processed: #dde1e6;
    --tag-color-processed: #343a3f;
    --tag-background-flag: #9ef0f0;
    --tag-color-flag: #004144;
    --tag-background-array: #ffd7d9;
    --tag-color-array: #750e13;
    --tag-background-alias: #e8daff;
    --tag-color-alias: #491d8b;
  }
}

:root[color-theme="dark"] {
  --header-background: #161616;
  --header-font-color: #f4f4f4;

  --body-background: #262626;
  --body-font-color: #f4f4f4;

  --button-background: #0f62fe;
  --button-border-color: #0f62fe;

  --link-color: #78a9ff;
  --link-color-visited: #be95ff;

  --code-background: #393939;
  --code-font-color: #f4f4f4;

  --code-copy-background: #393939;
  --code-copy-font-color: #f4f4f4;
  --code-copy-border-color: #f4f4f4;
  --code-copy-success-color: #42be65;

  --accent-color: #2b3035;
  --accent-color-lite: #2f353a;

  --control-icons: #b2bac1;

  --footer-background: #161616;
  --footer-font-color: #f4f4f4;
  --footer-link-color: #a6c8ff;
  --footer-link-color-visited: #a6c8ff;

  --tag-background-virtual: #0e6027;
  --tag-color-virtual: #a7f0ba;
  --tag-background-processed: #4d5358;
  --tag-color-processed: #dde1e6;
  --tag-background-flag: #005d5d;
  --tag-color-flag: #9ef0f0;
  --tag-background-array: #a2191f;
  --tag-color-array: #ffd7d9;
  --tag-background-alias: #6929c4;
  --tag-color-alias: #e8daff;
}
@media (prefers-color-scheme: dark) {
  :root {
    --header-background: #161616;
    --header-font-color: #f4f4f4;

    --body-background: #262626;
    --body-font-color: #f4f4f4;

    --button-background: #0f62fe;
    --button-border-color: #0f62fe;

    --link-color: #78a9ff;
    --link-color-visited: #be95ff;

    --code-background: #393939;
    --code-font-color: #f4f4f4;

    --code-copy-background: #393939;
    --code-copy-font-color: #f4f4f4;
    --code-copy-border-color: #f4f4f4;
    --code-copy-success-color: #42be65;

    --accent-color: #2b3035;
    --accent-color-lite: #2f353a;

    --control-icons: #b2bac1;

    --footer-background: #161616;
    --footer-font-color: #f4f4f4;
    --footer-link-color: #a6c8ff;
    --footer-link-color-visited: #a6c8ff;

    --tag-background-virtual: #0e6027;
    --tag-color-virtual: #a7f0ba;
    --tag-background-processed: #4d5358;
    --tag-color-processed: #dde1e6;
    --tag-background-flag: #005d5d;
    --tag-color-flag: #9ef0f0;
    --tag-background-array: #a2191f;
    --tag-color-array: #ffd7d9;
    --tag-background-alias: #6929c4;
    --tag-color-alias: #e8daff;
  }
}
